<a href="{{ "/blog" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Blog</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Contact</h2></a>
<a href="https://cyfire.net/cyber-security/"><h2 class="header-link">Cyfire</h2></a>
<!-- <a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a> -->